.flow {
  > * ~ * {
    margin-top: 1.2em;
  }
  & h1, h2, h3, .as-h1, .as-h2, .as-h3 {
    margin-top: 1.5em;
  }
  &--extra > * ~ * {
    margin-top: 3rem;
  }  
}

$spaces: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl;

.flow {
  @each $space in $spaces{
    &--#{$space} > *~* {
      margin-top: var(--space-#{$space})
    }
  }
}
