<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title and not meta_title_hidden %}{{ title }} &ndash; {% endif %}{{ site_title }}</title>
  <link rel="stylesheet" href="/css/styles.css">

  {% for lang_key, lang_data in languages %}
    {% for _page in collections.all %}
      {% if (_page.data.lang === lang_key) and (_page.data.key === key) %}
        <link
          rel="alternate"
          hreflang="{{ lang_key }}"
          href="{{ production_url }}{{ _page.data.page.url }}"
        />
      {% endif %}
    {% endfor %}
  {% endfor %}
</head>
<body>
  {% include 'components/header.njk' %}
  <main class="container flow">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>

  <script>
    (function() {
    const className = 'reel';
    const reels = Array.from(document.querySelectorAll(`.${className}`));
    const toggleOverflowClass = elem => {
      elem.classList.toggle('overflowing', elem.scrollWidth > elem.clientWidth);
    };

    for (let reel of reels) {
      if ('ResizeObserver' in window) {
        new ResizeObserver(entries => {
          toggleOverflowClass(entries[0].target);
        }).observe(reel);
      }

      if ('MutationObserver' in window) {
        new MutationObserver(entries => {
          toggleOverflowClass(entries[0].target);
        }).observe(reel, {childList: true});
      }
    }
  })();
  </script>
</body>
</html>
