{% if block.loadAll %}
  {% set articles = blogPosts %}
{% endif %}
<ul>
  {% for article in articles %}
    {% if article.__lang == lang %}
    <li>
      <p class="as-h2">{{ article.pageBase.title }}</p>
      <p>{{ article.pageBase.description }}</p>
      <a href="{{ article.pageBase.fullSlug }}" class="breakout-button">
        {{ translations['readArticle'][lang] }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
