{% set home_url = languages[lang].prefix %}
<header class="main-header">
  <div class="container">
    <div class="flex-wrap flex-wrap--space-between">
      <a
        href="{% if page.url === home_url %}#{% else %}{{ home_url }}{% endif %}"
        class="logo"
      >
        {% include 'logo.svg' %}
      </a>
      <nav class="language-nav">
        <ul>
          {% for lang_key, lang_data in languages %}
            <li>
              {%- if lang === lang_key -%}
                {%- set current_page = true -%}
                {%- set target_url = page.url -%}
              {%- else -%}
                {%- set current_page = false -%}
                {%- set id = languageMaps[lang][_data._id][lang_key] -%}
                {%- set target_url = allPages[id].pageBase.fullSlug -%}
              {%- endif -%}
              {%- if current_page -%}
                <span class="as-a">
              {%- else -%}
                <a
                  rel="alternate"
                  hreflang="{{ lang_key }}"
                  href="{{ target_url }}"
                >
              {%- endif -%}
              {{- lang_key -}}
              {%- if current_page -%}
                </span>
              {%- else -%}
                </a>
              {%- endif -%}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <nav class="main-nav">
      <ul class="reel">
        {% for nav_item in navigation[lang].items %}
          {% set current_url = nav_item.fullSlug %}
          {% if page.url === current_url %}
            {% set current_page = true %}
          {% else %}
            {% set current_page = false %}
          {% endif %}
          <li>
            <a
              href="{% if current_page %}#{% else %}{{ current_url }}{% endif %}"
              {% if current_page %}aria-current="page"{% endif %}
            >
              {{ nav_item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
